.qaPanel {}

.googleForm{
    left: 250px;
    position: absolute;
    z-index:1;
    bottom: 20px;
    /* border: black solid 2px; */
    background-color: white;
    border-radius: 1%;
    box-shadow: 0px 0px 5px 1px rgb(189, 189, 189);
    /* box-shadow: 10px grey; */
}